.page-main  
  .container
    section.about
      .about__col
        img(src="img/content/about.jpg", alt="Робот" width="380" height="402")
      .about__col
        ul.about__list
          li.about__item Мы занимаемся поставкой и продажей трендовых товаров уже 5 лет. 
          li.about__item Постоянно тестируем новые товары, выявляем тренды и поставляем их напрямую от поставщика.
          li.about__item Наши маркетологи разрабатывают и запускают сайты, настраивают рекламные каналы.
    section.works
      .works__about
        h2.works__title Чем вы будете заниматься
        p.works__description Вы будете продавать популярные товары через собственный интернет-магазин:
        .works__list
          .works__item
            i: +icon("seo", 80)
            span СЕО, контекстная реклама, социальные сети, Авито
          .works__item
            i: +icon("eshop", 80)
            span Интернет-магазин
          .works__item
            i: +icon("callback", 80)
            span Звонок клиенту
          .works__item
            i: +icon("shiping", 80)
            span Отправляете товар
          .works__item            
            i: +icon("money", 80)
            span Получаете деньги
  section.price
    .container
      h2.price__title Наши пакеты
      .price__list
        .price__item
          h3.price__item-title Старт
          ul.price__item-list
            li Настройка и подключение cайт landing page
            li Обучение
            li Первая партия товара на <b>20 000 р.</b>
            li Подключение 1 канала рекламы
              p Яндекс-Директ
          .price__item-bottom
            .price__item-cost 50 000 руб.
            a.btn.btn--gradient(href="#") Отправить заявку
        .price__item
          h3.price__item-title Стандарт
          ul.price__item-list
            li Настройка и подключение cайт landing page
            li Обучение
            li Первая партия товара на <b>25 000 р.</b>
            li Подключение 2 каналов рекламы 
              p Яндекс-Директ и Google Adwords
          ul.price__item-list
            li Подключение новых трендовых товаров со<b> скидкой 30%</b>
            li Аккаунт-поддержка от нашего маркетингового агенства на первый месяц
          .price__item-bottom
            .price__item-cost 75 000 руб.
            a.btn.btn--gradient(href="#") Отправить заявку
        .price__item
          h3.price__item-title Премиум
          ul.price__item-list
            li Настройка и подключение cайт landing page
            li Обучение
            li Первая партия товара на <b>35 000 р.</b>
            li Подключение 5 каналов рекламы 
              p Яндекс-Директ, Google Adwords, таргетированная реклама в соц сетях, РСЯ, продвижение в Instagram
          ul.price__item-list
            li Подключение новых трендовых товаров со <b>скидкой 50%</b>
            li Аккаунт-поддержка от нашего маркетингового агенства на первый месяц
          .price__item-bottom
            .price__item-cost 100 000 руб.
            a.btn.btn--gradient(href="#") Отправить заявку
  section.features
    .container
      h2.features__title Почему с нами выгодно работать
      ul.features__list
        li.features__item <strong>Сроки окупаемости</strong> – учитывая минимальные вложения, Вы окупитесь за первый месяц
        li.features__item <strong>Возможность масштабирования</strong> - вы будете продавать не только товар, который мы подключили Вам изначально, - мы постоянно тестируем новые товары, выявляем тренды, дальше у вас будет возможность постоянно подключать новые товары, которые будут появляться, таким образом, зарабатывать больше
        li.features__item <strong>Перспективные ниши</strong> – мы продаем трендовый товар, на который уже есть спрос либо который набирает популярность
        li.features__item Предоставляем полное обучение по осуществлению продаж через интернет-магазин 
        li.features__item Вы получаете свой бизнес, сами зарабатываете, мы не контролируем вашу выручку и не берем роялти
        li.features__item <strong>Быстрый старт</strong> - на запуск сайта, рекламных каналов, закуп первой партии товара нужно 5 дней, - Вы сможете получать первые заявки уже на 6й день
        li.features__item <strong>Маркетинговая поддержка</strong> - наши маркетологи настроят и адаптируют все рекламные каналы под Ваш регион и будут полностью сопровождать Ваш проект первый месяц
        li.features__item Мы сами занимаемся поставками товара от производителя, Вы будете получать товар по самым выгодным оптовым ценам
        li.features__item Высокомаржинальный товар
  section.feedback
    .container
      h2.feedback__title Отзывы Наших Клиентов
      .feedback__slider
        .slider  
          .slideer__item
            .slider__fit
              .youtube(id="oPhfe_o_m64" data-params="modestbranding=1&showinfo=0&controls=0")
          .slideer__item
            .slider__fit
              .youtube(id="Ft_teGEwkJ8" data-params="modestbranding=1&showinfo=0&controls=0")
  section.owner
    .container
      h2.owner__title Наши учредители
      .owner__row
        .owner__col
          .owner__img
            img(src="img/content/owners/owner-1.jpg", alt="Громов Артур Валерьевич")
          h3.owner__col-title Громов Артур Валерьевич
          ul.owner__col-list
            li.owner__col-item Соучредитель компании Opt-trend
            li.owner__col-item 9 лет занимается бизнесом
            li.owner__col-item В 2006 году основал маркетинговое агенство Promoimpuls
            li.owner__col-item C 2011 года занимается поставкой и продажей трендовых товаров
        .owner__col
          .owner__img
            img(src="img/content/owners/owner-2.jpg", alt="Корсакова Екатерина Ильинишна")
          h3.owner__col-title Корсакова Екатерина Ильинишна
          ul.owner__col-list
            li.owner__col-item Соучредитель компании Opt-trend
            li.owner__col-item Владелец сети кальянных Underground по Москве
            li.owner__col-item Основатель пиар-агенства Point
  section.check-city
    .container
      h2.check-city__title Мы открываем одно представительство в регионе
      .check-city__row
        .check-city__col
          form.form.form--whiteBg(action="/" method="POST")
            .form__inner-wrap
              div.form__title Проверьте,<br> свободен ли ваш город?
              input(type="text" class="form__field" name="name" placeholder="Имя" required)
              input(type="text" class="form__field" name="phone" placeholder="Телефон" required)
              input(type="submit" class="btn" value="Отправить заявку")
            .form__succes
              div.form__title Спасибо за вашу заявку!
              +icon("succes", 120)
              span.form__succes-msg Наш менеджер свяжется с вами в ближайшее время!
  section.invite
    .container
      h2.invite__title Присоединяйся к нашей команде!
      form.form.form--row(action="/" method="POST")
        input(type="text" class="form__field" name="name" placeholder="Имя" required)
        input(type="text" class="form__field" name="phone" placeholder="Телефон" required)
        input(type="submit" class="btn btn--blue" value="Отправить заявку")