.page-main  
  .container
    section.about
      .about__col
        img(src="img/content/about.jpg", alt="Робот" width="380" height="402")
      .about__col
        ul.about__list
          li.about__item Мы занимаемся поставкой и продажей трендовых товаров уже 5 лет. 
          li.about__item Постоянно тестируем новые товары, выявляем тренды и поставляем их напрямую от поставщика.
          li.about__item Наши маркетологи разрабатывают и запускают сайты, настраивают рекламные каналы.

    section.works
      .works__about

      .worls__title Чем вы будете заниматься
