div.page-main
  .container
    section.about      
      .about__img
        img(src="img/content/about-us.jpg" width="380" height="402" alt="О нас" title="О нас")
      .about__text
        p Мы занимаемся поставкой и продажей трендовых товаров уже 5 лет
        p Постоянно тестируем новые товары, выявляем тренды и поставляем их напрямую от поставщика
        p Наши маркетологи Разрабатывают и запускают сайт, настраивают рекламные каналыю
    section.works
      h2.works__title Чем Вы будете заниматься
      p.works__description Вы будете продавать популярные товары через интернет
      .works__row
        .works__item
          i
            +icon("seo",100)
          span СЕО, контекстная реклама, социальные сети, Авито
        .works__item
          i
            +icon("eshop",100)
          span Интернет магазин
        .works__item
          i
            +icon("callback",100)
          span Звонок клиенту
        .works__item
          i
            +icon("shiping",100)
          span Отправляете товара
        .works__item
          i
            +icon("money",100)
          span Получаете деньги
  section.prices
    .container
      h2.prices__title Наши Пакеты
      .prices__row
        .prices__col
          h3.prices__col-title Старт
          ul.prices__list
            li.prices__item Настройка и подключение сайт landing page
            li.prices__item Обучение
            li.prices__item Первая партия товара на <b>20 000р.</b>
            li.prices__item Подключение 1 канала рекламы<br><span>Яндекс-Директ</span>
          footer.prices__col-footer
            span 50 000 руб.
            a.btn.gradient Отправить заявку
        .prices__col
          h3.prices__col-title Стандарт
          ul.prices__list
            li.prices__item Настройка и подключение сайт landing page
            li.prices__item Обучение
            li.prices__item Первая партия товара на <b>25 000р.</b>
            li.prices__item Подключение 2 каналов рекламы<br><span>Яндекс-Директ и Google Adworks</span>
          ul.prices__list
            li.prices__item Подключение новых трендовых товаров <strong>со скидкой 30%</strong>
            li.prices__item Аккаунт-поддержка от нашего маркетингового агенства на первый месяц             
          footer.prices__col-footer
            span 75 000 руб.
            a.btn.gradient Отправить заявку
        .prices__col
          h3.prices__col-title Премиум
          ul.prices__list
            li.prices__item Настройка и подключение сайт landing page
            li.prices__item Обучение
            li.prices__item Первая партия товара на <b>35 000р.</b>
            li.prices__item Подключение 5 каналов рекламы<br><span>Яндекс-Директ и Google Adworks, таргетированная реклама в соц. сетях, РСЯ, продвижение в Instagramm</span>
          ul.prices__list
            li.prices__item Подключение новых трендовых товаров <strong>со скидкой 50%</strong>
            li.prices__item Аккаунт-поддержка от нашего маркетингового агенства на первый месяц
          footer.prices__col-footer
            span 100 000 руб.
            a.btn.gradient Отправить заявку
  section.advantages
    .container
      h2.advantages__title Почему с нами выгодно сотрудничать
      ul.advantages__list
        li.advantages__item Сроки окупаемости – учитывая минимальные вложения, Вы окупитесь за первый месяц
        li.advantages__item <b>Возможность масштабирования</b> - вы будете продавать не только товар, который мы подключили Вам изначально, - мы постоянно тестируем новые товары, выявляем тренды, дальше у вас будет возможность постоянно подключать новые товары, которые будут появляться, таким образом, зарабатывать больше
        li.advantages__item <b>Перспективные ниши</b> – мы продаем трендовый товар, на который уже есть спрос либо который набирает популярность
        li.advantages__item Предоставляем полное обучение по осуществлению продаж через интернет-магазин 
        li.advantages__item Вы получаете свой бизнес, сами зарабатываете, мы не контролируем вашу выручку и не берем роялти
        li.advantages__item <b>Быстрый старт</b> - на запуск сайта, рекламных каналов, закуп первой партии товара нужно 5 дней, - Вы сможете получать первые заявки уже на 6й день
        li.advantages__item <b>Маркетинговая поддержка</b> - наши маркетологи настроят и адаптируют все рекламные каналы под Ваш регион и будут полностью сопровождать Ваш проект первый месяц
        li.advantages__item Мы сами занимаемся поставками товара от производителя, Вы будете получать товар по самым выгодным оптовым ценам
        li.advantages__item Высокомаржинальный товар
  section.feedback
    .container
      h2.feedback__title Отзывы наших клиентов
      .feedback__slider
        .feedback__slider-container        
          .feedback__slider-item
            .feedback__slider-content
              .youtube(id="LE9_SBvoaZY")
          .feedback__slider-item
            .feedback__slider-content
              .youtube(id="LE9_SBvoaZY")
  section.region
    .container
      h2.region__title Мы открываем одно представительство в регионе 
      .region__row
        .region__col
          .form.form--whiteBg
            form.form__item(action="/" method="post")
              h3.form__title Проверьте,<br> Свободен ли ваш город?
              input.form__field(type="text" name="name" placeholder="Имя")
              input.form__field(type="text" name="phone" placeholder="Телефон")
              button.btn.gradient(type="submit") Отправить заявку
            .form__succes
              span Спасибо за Вашу заявку!
              .form__succes__img
                +icon("checked", 120)
              span Наш менеджер свяжется с Вами в  ближайшее время!
  section.invite
    .container
      h2.invite__title Присоединяйся к нашей команде!
      .form.form--invite
        form.form__item(action="/" method="post")
          input.form__field(type="text" name="name" placeholder="Имя")
          input.form__field(type="text" name="phone" placeholder="Телефон")
          button.btn.btn--dark-blue(type="submit") Отправить заявку