div.page-main
  .container
    section.about
      .about__row
        p.about__text Мы занимаемся поставкой и продажей трендовых товаров уже 5 лет
        p Постоянно тестируем новые товары, выявляем тренды и поставляем их напрямую от поставщика
        p Наши маркетологи Разрабатывают и запускают сайт, настраивают рекламные каналыю
    section.advantage
      h2.advantage__title Почему с нами выгодно сотрудничать

    +icon("callback",100)
    +icon("checked",100)
    +icon("eshop",100)
    +icon("money",100)
    +icon("seo",100)
    +icon("shiping",100)

