.advantages {
  padding: 60px 0;
  background-image: url("../img/advantage-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  &__title {
    @extend %heading;
  }
  &__list {
    background-color: #fff;
    margin: 0;
    padding: 70px 100px 70px 80px;
    list-style: none;
    border-radius: 25px;
  }
  &__item {
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
  font-weight: 400;
  line-height: 2;
    &::before {
      position: absolute;
      content: "";
      width: 6px;
      height: 6px;
      background: #4a90e2;
      border-radius: 50%;
      left: 0;
      top: 15px;
    }
    &:last-child {
      margin-bottom: 0;
    }
    b {
      font-weight: 700;
    }
  }
}