.logo {
  width: 210px;
  &__title {
    display: block;
    font-size: 18px;
    line-height: 20px;
    font-weight: 900;
    margin-bottom: 16px;
    @extend %gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    &:last-child {
      margin-bottom: 0;
    }
  }
}