.page-header {  
  color: #fff;
  background: #2a4057;
  padding-bottom: 111px;
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  &__top {
    padding: 20px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 114px;
  }
  &__title {
    font-family: "Museo Cyrl", "Arial",sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 48px;
    line-height: 70px;
    margin-bottom: 78px;
  }
  &--flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}