.works {
  padding-bottom: 80px;
  &__title {
    @extend %heading;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item {
    position: relative;
    text-align: center;
    width: 17%;
    &:focus {
      border: none;
      outline: none;
    }
    i {
      display: inline-block;
      vertical-align: top;
      position:relative;
      &::before {
        content: "";
        position: absolute;
        display: block;
        width: 50px;
        height: 10px;
        right: -80px;
        top: 45px;       
        background: url("../img/svg/arrow.svg") no-repeat;      
      }      
    }
      &:last-child i  {
        &:before {
          display: none;
        }
      }
    .icon {
      margin-bottom: 65px;
      fill: #4a90e2;
    }
    span {
      margin-top: auto;
      display: block;
      font-weight: 300;
      font-size: 16px;
      line-height: 1.25;
      font-weight: 300;
    }
  }
  &__description {
    text-align: center;    
    margin-bottom: 65px;
  }
}