@charset "UTF-8";
@font-face {
  font-family: "Museo Sans";
  font-weight: 900;
  font-style: normal; 

  src: url("../fonts/Museo Sans/museosansblack.woff") format("woff"), url("../fonts/Museo Sans/museosansblack.woff2") format("woff2");
}

@font-face {
  font-family: "Museo Sans";
  font-weight: 900;
  font-style: italic; 

  src: url("../fonts/Museo Sans/museosansblackitalic.woff") format("woff"), url("../fonts/Museo Sans/museosansblackitalic.woff2") format("woff2");
}

@font-face {
  font-family: "Museo Sans";
  font-weight: 700;
  font-style: normal; 

  src: url("../fonts/Museo Sans/museosansbold.woff") format("woff"), url("../fonts/Museo Sans/museosansbold.woff2") format("woff2");
}

@font-face {
  font-family: "Museo Sans";
  font-weight: 700;
  font-style: italic; 

  src: url("../fonts/Museo Sans/museosansbolditalic.woff") format("woff"), url("../fonts/Museo Sans/museosansbolditalic.woff2") format("woff2");
}

@font-face {
  font-family: "Museo Sans";
  font-weight: 500;
  font-style: normal; 

  src: url("../fonts/Museo Sans/museosansmedium.woff") format("woff"), url("../fonts/Museo Sans/museosansmedium.woff2") format("woff2");
}

@font-face {
  font-family: "Museo Sans";
  font-weight: 500;
  font-style: italic; 

  src: url("../fonts/Museo Sans/museosansmediumitalic.woff") format("woff"), url("../fonts/Museo Sans/museosansmediumitalic.woff2") format("woff2");
}

@font-face {
  font-family: "Museo Sans";
  font-weight: 400;
  font-style: normal; 

  src: url("../fonts/Museo Sans/museosansregular.woff") format("woff"), url("../fonts/Museo Sans/museosansregular.woff2") format("woff2");
}

@font-face {
  font-family: "Museo Sans";
  font-weight: 400;
  font-style: italic; 

  src: url("../fonts/Museo Sans/museosansitalic.woff") format("woff"), url("../fonts/Museo Sans/museosansitalic.woff2") format("woff2");
}

@font-face {
  font-family: "Museo Sans";
  font-weight: 300;
  font-style: normal; 

  src: url("../fonts/Museo Sans/museosanslight.woff") format("woff"), url("../fonts/Museo Sans/museosanslight.woff2") format("woff2");
}

@font-face {
  font-family: "Museo Sans";
  font-weight: 300;
  font-style: italic; 

  src: url("../fonts/Museo Sans/museosanslightitalic.woff") format("woff"), url("../fonts/Museo Sans/museosanslightitalic.woff2") format("woff2");
}

@font-face {
  font-family: "Museo Cyrl";
  font-weight: 700;
  font-style: normal; 

  src: url("../fonts/Museo Cyrl/museocyrl700.woff") format("woff"), url("../fonts/Museo Cyrl/museocyrl700.woff2") format("woff2");
}

.gradient,
.works__title::after,
.prices__title::after,
.prices__col-title::after,
.advantages__title::after,
.feedback__title::after,
.region__title::after,
.invite__title::after,
.logo__title {
  background-image: linear-gradient(90deg, #707aff 0%, #e077ff 100%);
}

.works__title,
.prices__title,
.prices__col-title,
.advantages__title,
.feedback__title,
.region__title,
.invite__title {
  font-family: "Museo Cyrl", "Arial", sans-serif;
  font-size: 1.77rem;
  font-weight: 700;
  line-height: 1.25;

  position: relative;

  margin: 0;
  margin-bottom: 3.3333%;
  padding-bottom: 3.3333%;

  text-align: center;

  color: #000;
}
.works__title::after,
.prices__title::after,
.prices__col-title::after,
.advantages__title::after,
.feedback__title::after,
.region__title::after,
.invite__title::after {
  position: absolute;
  bottom: 0;
  left: 50%;

  display: block;

  width: 80px;
  height: 10px;
  margin-left: -40px;

  content: "";

  border-radius: 5px;
}

html {
  font-size: 18px;
  font-weight: 500; 

  height: 100%;
}

body {
  font-family: "Museo Sans", "Arial", sans-serif; 

  min-width: 320px;
  margin: 0;

  word-wrap: break-word;
}

img {
  max-width: 100%;
  height: auto;

  border: none;
}

svg {
  fill: #4a90e2;
  fill-rule: evenodd;
  fill: #df77ff;
}

.container {
  box-sizing: border-box; 
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 10px;
}

a {
  text-decoration: none;

  color: #fff;
  background-color: transparent;
}
a:hover,
a:focus {
  text-decoration: underline; 

  color: #999;
}

.page-header {
  margin-bottom: 40px; 
  padding-bottom: 111px;

  color: #fff;
  background: #2a4057;
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.page-header__top {
  margin-bottom: 114px; 
  padding: 20px 0;

  border-bottom: 1px solid rgba(255, 255, 255, .2);
}
.page-header__title {
  font-family: "Museo Cyrl", "Arial",sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 70px;

  margin-bottom: 78px; 

  text-align: center;
}
.page-header--flex {
  display: -ms-flexbox;
  display: flex;

  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.logo {
  width: 210px;
}
.logo__title {
  font-size: 18px;
  font-weight: 900;
  line-height: 20px;

  display: block;

  margin-bottom: 16px;

  text-transform: uppercase; 

  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
}
.logo__title:last-child {
  margin-bottom: 0;
}

.main-nav__list {
  display: -ms-flexbox;
  display: flex; 

  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__item {
  margin-right: 50px;
}
.main-nav__item:last-child {
  margin-right: 0;
}

.form {
  font-family: "Museo Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.2;

  display: block;

  box-sizing: border-box; 
  max-width: 380px;
  min-height: 290px;
  margin-right: auto;
  margin-left: auto;
  padding: 40px;

  border-radius: 25px;
  background: rgba(255, 255, 255, .2);
}
.form--whiteBg {
  min-height: 400px; 

  background-color: #fff;
}
.form--whiteBg .form__field {
  border: 2px solid #e1e1e1;
}
.form--invite {
  max-width: 100%;
  min-height: 0; 
  padding: 0;

  text-align: center;

  background: none;
}
.form--invite .form__field,
.form--invite .btn {
  display: inline-block;

  max-width: 300px;
  margin-bottom: 0;
}
.form--invite .form__field {
  margin-right: 20px;
}
@media screen and (max-width: 992px) {
  .form--invite {
    max-width: 380px;
  }
  .form--invite .form__field,
  .form--invite .btn {
    display: block;

    max-width: 100%;
    margin-right: 0; 
    margin-bottom: 20px;
  }
}
.form--invite .btn {
  margin-bottom: 0;
}
.form__title {
  font-size: 24px;
  line-height: 28px;

  display: block;

  margin-bottom: 30px; 

  text-align: center;
}
.form__field {
  font-size: 18px;

  box-sizing: border-box;
  width: 100%;
  margin-bottom: 30px;
  padding: 14.2px 30px;

  border: none;
  border-radius: 25px;
  outline: none; 
  background: #fff;
}
.form__succes {
  line-height: 30px;

  display: none;

  text-align: center;

  background-color: red; 

  flex-firectiom: column;
}

.about {
  display: -ms-flexbox;
  display: flex;

  margin-bottom: 50px; 

  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
}
.about__img {
  box-sizing: border-box; 
  width: 50%;
  padding: 0 8.3%;

  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}
.about__text {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.666;

  padding: 50px 0; 

  -ms-flex-negative: 1;
  flex-shrink: 1;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}
.about__text p {
  margin: 0 0 8.8% 0;
}
.about__text p:last-child {
  margin-bottom: 0;
}

.works {
  padding-bottom: 80px;
}
.works__row {
  display: -ms-flexbox;
  display: flex;

  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.works__item {
  position: relative;

  width: 17%; 

  text-align: center;
}
.works__item:focus {
  border: none;
  outline: none;
}
.works__item i {
  position: relative; 

  display: inline-block;

  vertical-align: top;
}
.works__item i::before {
  position: absolute;
  top: 45px;
  right: -80px;

  display: block;

  width: 50px;
  height: 10px;

  content: "";

  background: url("../img/svg/arrow.svg") no-repeat;
}
.works__item:last-child i:before {
  display: none;
}
.works__item .icon {
  margin-bottom: 65px;

  fill: #4a90e2;
}
.works__item span {
  font-size: 16px;
  font-weight: 300;
  font-weight: 300; 
  line-height: 1.25;

  display: block;

  margin-top: auto;
}
.works__description {
  margin-bottom: 65px; 

  text-align: center;
}

.prices {
  padding-top: 60px; 
  padding-bottom: 65px;

  background: #f6fafb;
}
.prices__row {
  display: -ms-flexbox;
  display: flex;

  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.prices__col {
  position: relative;

  box-sizing: border-box;
  width: 32.2%;
  padding: 30px 30px 180px;

  border-radius: 25px;
  background: #fff;
  box-shadow: 0 10px 10px 0 rgba(2, 2, 2, .05); 

  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-preferred-size: 32.2%;
  flex-basis: 32.2%;
}
.prices__col-title {
  font-size: 24px;
  line-height: 1.66;

  margin-bottom: 6.5%; 
  padding-bottom: 4.5%;
}
.prices__col-title:after {
  width: 20px;
  height: 5px;
  margin-left: -10px; 

  background: #4a90e2;
}
.prices__col-footer {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.875;

  position: absolute;
  bottom: 0;
  left: 0;

  box-sizing: border-box;
  width: 100%;
  padding: 10px 30px 30px;

  border-top: 2px solid #eaedee;
}
.prices__col-footer span {
  display: block; 

  text-align: center;
}
.prices__list {
  margin: 0 0 40px;
  padding: 0;

  list-style: none;
}
.prices__item {
  line-height: 1.7; 

  position: relative;

  margin-bottom: 10px;
  padding-left: 20px;
}
.prices__item::before {
  position: absolute;
  top: 15px; 
  left: 0;

  width: 6px;
  height: 6px;

  content: "";

  border-radius: 50%;
  background: #4a90e2;
}
.prices__item span {
  font-size: 14px;
  line-height: 1.4;

  color: #999;
}

.advantages {
  padding: 60px 0;

  background-image: url("../img/advantage-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.advantages__list {
  margin: 0;
  padding: 70px 100px 70px 80px;

  list-style: none;

  border-radius: 25px; 
  background-color: #fff;
}
.advantages__item {
  font-weight: 400;
  line-height: 2; 

  position: relative;

  margin-bottom: 10px;
  padding-left: 20px;
}
.advantages__item::before {
  position: absolute;
  top: 15px; 
  left: 0;

  width: 6px;
  height: 6px;

  content: "";

  border-radius: 50%;
  background: #4a90e2;
}
.advantages__item:last-child {
  margin-bottom: 0;
}
.advantages__item b {
  font-weight: 700;
}

.feedback {
  padding: 65px 0; 

  background-color: #f6fafb;
}
@media screen and (max-width: 576px) {
  .feedback .container {
    padding-right: 0; 
    padding-left: 0;
  }
}
.feedback__slider {
  min-width: 250px;
  max-width: 960px;
  margin-right: auto; 
  margin-left: auto;
}
.feedback__slider-content {
  position: relative;

  height: 0; 
  padding-top: 56.25%;
}
.feedback__slider-content iframe {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.youtube {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  cursor: pointer;

  background-position: center; 
  background-size: cover;
}

.youtube .play {
  position: absolute;

  width: 100%;
  height: 100%;

  transition: all .2s ease-out; 

  opacity: .8;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAERklEQVR4nOWbTWhcVRTHb1IJVoxGtNCNdal2JYJReC6GWuO83PM/59yUS3FRFARdFlwYP1CfiojQWt36sRCUurRIdVFXIn41lAoVdRGrG1M01YpKrWjiYmaSl8ybZJL3cd+YA//NLObd3++eO8x79z5jSq5Gw+8kov0AP8vMR5l1BtBZQM4B8ks75wCdZdYZZj5qLZ4hov2Nht9Z9vhKKSIaB/gI4M4w62KeAO6Mte4lYOq20FxrlqqOibhHmeWbvNC9ZfDX1mLae391aN6limO/gwgvAPJbWeAZuSDingdwXTBw7/0IsyaA/Fkh+KqOkD+YNfHej1QKD+y7iVlOhgLvFqFfNJvNGyuBJ+KDAF8MDd0tgS8y64OlgSdJMsysL4cG7SOHkyQZLhTee7+d2R2rAVy/S+Jd7/32ouBHAP4gNNRGQyTHc/84NhqNywZp5rvjjnnvt21aABFeCQ+RLwAf2hQ8s7sv9OCLk6AHNgQvIrvbfzKCD76g/O6cu7lf/iER/aQGgy448pExZmhdegAPhR9sObFWH1gT3lp7DaA/5bkIgJhZPgsNmz02novj+KqeApj1ubwXWe4kdyeznAgNvTpE/HQmvKqOMeuFogTUVQSRno+iaLRLAJF7uIgL9O4ubgL8aWgB7S44mNX+35YpICUiAvS9sBLkq1WzT+NFffl6AuoiApi6NT37h6sWkBIRZGkQ8YtLgyji6e1mBYTqCEBPG2Naz+0BWQgtoGoRgCzEsd9hAN1X5BfnFZASUfrSAFQNsyZ1FJASUVpHiLinDJG8U2cBZYogkrcNs5waBAGdstbeU9zdqpw0gPwwSAI6VUxHyFlDpOcHUUBBIuYNs14aZAE5RVwyzPr3/0EAEY0TyfGNjBWQvwZ +CTSbehfAH29mrID8bET0+0EUkAd8WYDOmqJ3ecsG30yr9wqRfm6Y+a1BEFDEjHfHvWmY9ck6CygHvBVr8Xhtb4ZE5HZA3y8DvBNA1TjnrmXWf+sioMwZX5V/VHXMGGMMoKdDCxCRvRWBdzKzdHEO+EisilbPyopHYqp6S9UCAsz4iojI7hUDAtyXVQgIDd6KnOoaWNkbI6FaPSuZGyMArsi7MZoloB4zviI/Nhr3X95jltwTRQmoIfgisy5ai+me67OI7fE4nrqjrqfK1t0eby0FPRB6oGVlchL3rgnfrq19RKbVBdhV9IOSwJmfmJi4vi/4ThERitwyCxVAFqydshuCX5awhQ9KtmuIWd8IDZED/nXT77rvVVv6sHRKwjYi91poqP7Dr+Y6JJ1VSZIMA3wkPNy6bX+o8Bcm0sXMdwM8Fxo0A3xORPaWBp6uPXsmbxCRD0NDL0dOANhVCXy6iAjMcjbcrMt3RITKwdMVRdFo+y5yvkL4eWZ+zHt/ZVD4dEVRNGotpst+dZZZH8k86lqn2pIvT/eqrNfn2xuyqYPZ8mv7s8pfn/8Pybm4TIjanscAAAAASUVORK5CYII=") no-repeat center center;
  background-size: 64px 64px;

  filter: alpha(opacity=80);
}

.youtube .play:hover {
  opacity: 1;

  filter: alpha(opacity=100);
}

.region {
  padding: 60px 0 110px;

  background-color: #463d73;
  background-image: url("../img/man.png"), url("../img/map-bg.png");
  background-repeat: no-repeat;
  background-position: 30% bottom, center;
  background-size: auto, contain;
}
@media screen and (max-width: 992px) {
  .region {
    background-image: url("../img/map-bg.png");
    background-position: center;
    background-size: contain;
  }
}
.region__title {
  color: #fff;
}
.region__title::after {
  background-color: #fff;
  background-image: none;
}
.region__row {
  display: -moz-flex;
  display:  -ms-flex;
  display:   -o-flex;
  display: -ms-flexbox;
  display:      flex;
      flex-direction: row-reverse; 

  -ms-flex-direction: row-reverse;
}
@media screen and (max-width: 992px) {
  .region__col {
    width: 100%;
  }
}

.invite {
  padding-top: 40px;
  padding-bottom: 80px;

  background-color: #717aff;
}
.invite__title {
  padding: 0;

  color: #fff;
}
.invite__title::after {
  display: none;
}

.btn {
  font-size: 18px;
  line-height: 50px;

  display: block;

  width: 100%;

  cursor: pointer;
  text-align: center;

  color: #fff;
  border: 0;
  border-radius: 25px;
  outline: none;
  box-shadow: 0 10px 30px 0 rgba(2, 2, 2, .35);
}
.btn--dark-blue {
  background-color: #463d73;
}

.page-footer {
  padding: 25px 0;

  background: #333;
}
.page-footer a {
  color: #fff;
}
.page-footer--flex {
  display: -ms-flexbox;
  display: flex;

  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* Slider */
.slick-slider {
  position: relative;

  display: block;

  box-sizing: border-box;

  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  -webkit-touch-callout: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -ms-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table; 

  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none; 
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./../img/ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  font-weight: normal;
  font-style: normal; 

  src: url("../fonts/Slick/slick.eot");
  src: url("../fonts/Slick/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/Slick/slick.woff") format("woff"), url("../fonts/Slick/slick.ttf") format("truetype"), url("../fonts/Slick/slick.svg#slick") format("svg");
}

/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;

  position: absolute;
  top: 50%;

  display: block;

  width: 60px;
  height: 60px;
  padding: 0;

  cursor: pointer;
  -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);

  color: transparent;
  border: none;
  border-radius: 50%;
  outline: none;
  background: transparent;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}
.slick-prev:hover,
.slick-prev:active,
.slick-next:hover,
.slick-next:active {
  outline: none;
  box-shadow: 0 3px 7px rgba(0, 0, 0, .2);
}

.slick-prev {
  left: -110px; 

  background-image: url("../img/svg/sl-prev.svg");
}
[dir="rtl"] .slick-prev {
  right: -25px; 
  left: auto;
}

.slick-next {
  right: -110px;

  background-image: url("../img/svg/sl-next.svg");
}
[dir="rtl"] .slick-next {
  right: auto; 
  left: -25px;
}

.slick-disabled {
  cursor: default;

  opacity: 0;
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 105px;
}

.slick-dots {
  position: absolute;
  bottom: -55px;

  display: block;

  width: 100%; 
  margin: 0;
  padding: 0;

  list-style: none;

  text-align: center;
}
.slick-dots li {
  position: relative;

  display: inline-block;

  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;

  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;

  display: block;

  width: 20px;
  height: 20px;
  padding: 5px;

  cursor: pointer; 

  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  font-family: "slick";
  font-size: 10px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  content: "•";
  text-align: center;

  opacity: .25;
  color: black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  font-size: 20px;

  opacity: 1; 
  color: #717aff;
}
