@font-face {
  font-family: "Museo Sans";
  font-weight: 900;
  font-style: normal; 

  src: url("../fonts/Museo Sans/museosansblack.woff") format("woff"), url("../fonts/Museo Sans/museosansblack.woff2") format("woff2");
}

@font-face {
  font-family: "Museo Sans";
  font-weight: 900;
  font-style: italic; 

  src: url("../fonts/Museo Sans/museosansblackitalic.woff") format("woff"), url("../fonts/Museo Sans/museosansblackitalic.woff2") format("woff2");
}

@font-face {
  font-family: "Museo Sans";
  font-weight: 700;
  font-style: normal; 

  src: url("../fonts/Museo Sans/museosansbold.woff") format("woff"), url("../fonts/Museo Sans/museosansbold.woff2") format("woff2");
}

@font-face {
  font-family: "Museo Sans";
  font-weight: 700;
  font-style: italic; 

  src: url("../fonts/Museo Sans/museosansbolditalic.woff") format("woff"), url("../fonts/Museo Sans/museosansbolditalic.woff2") format("woff2");
}

@font-face {
  font-family: "Museo Sans";
  font-weight: 500;
  font-style: normal; 

  src: url("../fonts/Museo Sans/museosansmedium.woff") format("woff"), url("../fonts/Museo Sans/museosansmedium.woff2") format("woff2");
}

@font-face {
  font-family: "Museo Sans";
  font-weight: 500;
  font-style: italic; 

  src: url("../fonts/Museo Sans/museosansmediumitalic.woff") format("woff"), url("../fonts/Museo Sans/museosansmediumitalic.woff2") format("woff2");
}

@font-face {
  font-family: "Museo Sans";
  font-weight: 400;
  font-style: normal; 

  src: url("../fonts/Museo Sans/museosansregular.woff") format("woff"), url("../fonts/Museo Sans/museosansregular.woff2") format("woff2");
}

@font-face {
  font-family: "Museo Sans";
  font-weight: 400;
  font-style: italic; 

  src: url("../fonts/Museo Sans/museosansitalic.woff") format("woff"), url("../fonts/Museo Sans/museosansitalic.woff2") format("woff2");
}

@font-face {
  font-family: "Museo Sans";
  font-weight: 300;
  font-style: normal; 

  src: url("../fonts/Museo Sans/museosanslight.woff") format("woff"), url("../fonts/Museo Sans/museosanslight.woff2") format("woff2");
}

@font-face {
  font-family: "Museo Sans";
  font-weight: 300;
  font-style: italic; 

  src: url("../fonts/Museo Sans/museosanslightitalic.woff") format("woff"), url("../fonts/Museo Sans/museosanslightitalic.woff2") format("woff2");
}

@font-face {
  font-family: "Museo Cyrl";
  font-weight: 700;
  font-style: normal; 

  src: url("../fonts/Museo Cyrl/museocyrl700.woff") format("woff"), url("../fonts/Museo Cyrl/museocyrl700.woff2") format("woff2");
}

.works__title::after,
.prices__title::after,
.prices__col-title::after,
.advantages__title::after,
.logo__title,
.btn {
  background-image: linear-gradient(90deg, #707aff 0%, #e077ff 100%);
}

.works__title,
.prices__title,
.prices__col-title,
.advantages__title {
  font-family: "Museo Cyrl", "Arial", sans-serif;
  font-size: 1.77rem;
  font-weight: 700;
  line-height: 1.25;

  position: relative;

  margin: 0;
  margin-bottom: 3.3333%;
  padding-bottom: 3.3333%;

  text-align: center;

  color: #000;
}
.works__title::after,
.prices__title::after,
.prices__col-title::after,
.advantages__title::after {
  position: absolute;
  bottom: 0;
  left: 50%;

  display: block;

  width: 80px;
  height: 10px;
  margin-left: -40px;

  content: "";

  border-radius: 5px;
}

html {
  font-size: 18px;
  font-weight: 500; 

  height: 100%;
}

body {
  font-family: "Museo Sans", "Arial", sans-serif; 

  min-width: 320px;

  word-wrap: break-word;
}

img {
  max-width: 100%;
  height: auto;

  border: none;
}

svg {
  fill: #4a90e2;
  fill-rule: evenodd;
  fill: #df77ff;
}

.container {
  box-sizing: border-box; 
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 10px;
}

a {
  text-decoration: none;

  color: #fff;
  background-color: transparent;
}
a:hover,
a:focus {
  text-decoration: underline; 

  color: #999;
}

.page-header {
  margin-bottom: 40px; 
  padding-bottom: 111px;

  color: #fff;
  background: #2a4057;
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.page-header__top {
  margin-bottom: 114px; 
  padding: 20px 0;

  border-bottom: 1px solid rgba(255, 255, 255, .2);
}
.page-header__title {
  font-family: "Museo Cyrl", "Arial",sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 70px;

  margin-bottom: 78px; 

  text-align: center;
}
.page-header--flex {
  display: -ms-flexbox;
  display: flex;

  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.logo {
  width: 210px;
}
.logo__title {
  font-size: 18px;
  font-weight: 900;
  line-height: 20px;

  display: block;

  margin-bottom: 16px;

  text-transform: uppercase; 

  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
}
.logo__title:last-child {
  margin-bottom: 0;
}

.main-nav__list {
  display: -ms-flexbox;
  display: flex; 

  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__item {
  margin-right: 50px;
}
.main-nav__item:last-child {
  margin-right: 0;
}

.form {
  font-family: "Museo Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.2;

  display: block;

  box-sizing: border-box; 
  max-width: 380px;
  min-height: 290px;
  margin-right: auto;
  margin-left: auto;
  padding: 40px;

  border-radius: 25px;
  background: rgba(255, 255, 255, .2);
}
.form--whiteBg {
  background-color: #fff;
}
.form--whiteBg .form__field {
  border: 2px solid #e1e1e1;
}
.form__title {
  font-size: 24px;
  line-height: 28px;

  display: block;

  margin-bottom: 30px; 

  text-align: center;
}
.form__field {
  font-size: 18px;

  box-sizing: border-box;
  width: 100%;
  margin-bottom: 30px;
  padding: 14.2px 30px;

  border: none;
  border-radius: 25px;
  outline: none; 
  background: #fff;
}
.form__succes {
  line-height: 30px; 

  display: none;

  text-align: center;
}

.about {
  display: -ms-flexbox;
  display: flex;

  margin-bottom: 50px; 

  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
}
.about__img {
  box-sizing: border-box; 
  width: 50%;
  padding: 0 8.3%;

  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}
.about__text {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.666;

  padding: 50px 0; 

  -ms-flex-negative: 1;
  flex-shrink: 1;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}
.about__text p {
  margin: 0 0 8.8% 0;
}
.about__text p:last-child {
  margin-bottom: 0;
}

.works {
  padding-bottom: 80px;
}
.works__row {
  display: -ms-flexbox;
  display: flex;

  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.works__item {
  position: relative;

  width: 17%; 

  text-align: center;
}
.works__item::after {
  position: absolute;
  top: 50px; 
  right: -27%;

  display: block;

  width: 50px;
  height: 10px;

  content: "";

  background: url("../img/svg/arrow.svg") no-repeat;
}
.works__item:last-child:after {
  display: none;
}
.works__item .icon {
  margin-bottom: 65px;

  fill: #4a90e2;
}
.works__item span {
  font-size: 16px;
  font-weight: 300;
  font-weight: 300; 
  line-height: 1.25;

  display: block;

  margin-top: auto;
}
.works__description {
  margin-bottom: 65px; 

  text-align: center;
}

.prices {
  padding-top: 60px; 
  padding-bottom: 65px;

  background: #f6fafb;
}
.prices__row {
  display: -ms-flexbox;
  display: flex;

  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.prices__col {
  display: -ms-flexbox;
  display: flex;
      flex-direction: column;

  box-sizing: border-box;
  width: 32.2%;
  padding: 30px;

  border-radius: 25px;
  background: #fff;
  box-shadow: 0 10px 10px 0 rgba(2, 2, 2, .05); 

  -ms-flex-direction: column;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-preferred-size: 32.2%;
  flex-basis: 32.2%;
}
.prices__col-title {
  font-size: 24px;
  line-height: 1.66;
}
.prices__col-title:after {
  width: 20px;
  height: 5px;
  margin-left: -10px; 

  background: #4a90e2;
}
.prices__col-footer {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.875;

  width: 100%; 
  margin-top: auto;
}
.prices__col-footer span {
  display: block; 

  text-align: center;
}
.prices__list {
  margin: 0 0 20px;
  padding: 0;

  list-style: none;
}
.prices__item {
  line-height: 2; 

  position: relative;

  margin-bottom: 10px;
  padding-left: 20px;
}
.prices__item::before {
  position: absolute;
  top: 15px; 
  left: 0;

  width: 6px;
  height: 6px;

  content: "";

  border-radius: 50%;
  background: #4a90e2;
}
.prices__item span {
  font-size: 14px;
  line-height: 1.4;

  color: #999;
}

.advantages {
  padding: 60px 0;

  background-image: url("../img/advantage-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.advantages__list {
  margin: 0;
  padding: 70px 100px 70px 80px;

  list-style: none;

  border-radius: 25px; 
  background-color: #fff;
}
.advantages__item {
  font-weight: 400;
  line-height: 2; 

  position: relative;

  margin-bottom: 10px;
  padding-left: 20px;
}
.advantages__item::before {
  position: absolute;
  top: 15px; 
  left: 0;

  width: 6px;
  height: 6px;

  content: "";

  border-radius: 50%;
  background: #4a90e2;
}
.advantages__item:last-child {
  margin-bottom: 0;
}
.advantages__item b {
  font-weight: 700;
}

.btn {
  font-size: 18px;
  line-height: 50px;

  display: block;

  width: 100%;

  cursor: pointer;
  text-align: center;

  color: #fff;
  border: 0;
  border-radius: 25px;
  outline: none;
  box-shadow: 0 10px 30px 0 rgba(2, 2, 2, .35);
}

.page-footer {
  padding: 25px 0;

  background: #333;
}
.page-footer a {
  color: #fff;
}
.page-footer--flex {
  display: -ms-flexbox;
  display: flex;

  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
